:root{
    --colorPrimario: #126481;
    --colorSecundario: #ee8e3f;
    --colorTerciario: #00425A;
    --colorNegro:#181823;
    --colorBlanco: #EFF5F5;
}

body {
    font-family: Belanosima, Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(40deg, #ee8e3f,#00425A) ;
  }

  form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--colorNegro);
    border-radius: 10px;
    background-color: var(--colorTerciario);
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: var(--colorBlanco);
    font-size: 1.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid var(--colorNegro);
    border-radius: 5px;
    font-size: 1rem;
    font-family: Belanosima, Arial, sans-serif;
  }

  textarea {
    resize: vertical;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--colorSecundario);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Belanosima, Arial, sans-serif;
    font-size: 1rem;
  }

  input[type="submit"]:hover {
    background-color: var(--colorPrimario);
  }
