.faq {
    padding: 4rem 1rem;
    background-color: var(--colorBlanco);
}

.faq-header {
    text-align: center;
    margin-bottom: 2rem;
}

.faq-header h1 {
    color: var(--colorPrimario);
    font-size: 2.5rem;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.faq-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.faq-question {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorTerciario);
    color: var(--colorBlanco);
}

.faq-question h3 {
    font-size: 1.2rem;
    margin: 0;
}

.faq-answer {
    background-color: white;
    color: var(--colorNegro);
    overflow: hidden;
}

.faq-answer p {
    padding: 1.5rem;
    line-height: 1.6;
}