.footer {
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    padding-top: 2rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px var(--colorNegro);
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-icons a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.map-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.map-container {
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 3px solid var(--colorNegro);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-info li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.footer-bottom {
    background-color: var(--colorTerciario);
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}