.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    background-color: var(--colorPrimario);
    overflow: hidden;
}

.hero-card {
    display: flex;
    flex-direction: column;
    background-color: var(--colorTerciario);
    border: 1px solid var(--colorNegro);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.card-2 {
    background-color: var(--colorSecundario);
}

.hero-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid var(--colorNegro);
}

.hero-card p {
    padding: 1.5rem;
    color: var(--colorBlanco);
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px var(--colorNegro);
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: center;
        padding: 4rem 2rem;
        gap: 4rem;
    }

    .hero-card {
        flex-direction: row;
        width: 45%;
        max-width: 600px;
    }

    .card-2 {
        flex-direction: row-reverse;
    }

    .hero-card img {
        width: 50%;
        height: auto;
        border-bottom: none;
        border-right: 5px solid var(--colorNegro);
    }

    .card-2 img {
        border-right: none;
        border-left: 5px solid var(--colorNegro);
    }

    .hero-card p {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }
}