.why-choose-us {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.why-header {
    background-color: var(--colorPrimario);
    padding: 3rem 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why-header h1 {
    color: var(--colorBlanco);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px var(--colorNegro);
}

.why-header ul {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.why-header li {
    color: var(--colorBlanco);
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
}

.why-header span {
    color: var(--colorSecundario);
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.why-footer {
    background-color: var(--colorSecundario);
    padding: 2rem;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.why-footer h2 {
    font-size: 2.5rem;
    color: var(--colorBlanco);
    text-shadow: 1px 1px 2px var(--colorNegro);
}

.why-footer span {
    color: var(--colorNegro);
}

@media (min-width: 768px) {
    .why-header h1 {
        font-size: 4rem;
    }

    .why-header li {
        font-size: 1.3rem;
    }

    .why-header span {
        display: inline;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}